@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
  padding: 0%;
}

body{
  background: white;
}

.body{
  background: url(images/f2.png);
  width: 100%;
  display: flex;
  height: 800px;
  background-size: cover;
  background-position: right;
}

/* Adjust image size */
.carousel-item img {
  width: 100%;
  height: auto;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent; 
}

.nav-link{
  margin-right: 10px;
  margin-left: 10px;
  color: #023C5A;
  font: 16px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Fredoka', sans-serif;
}

.nav-link:hover{
  color: rgb(241, 66, 104);
}

.search{
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 60px;
  border: 2px solid rgb(241, 66, 104);
  margin-right: -35px;
}

.btn0{
  height: 40px;
  width: 50%;
  background: rgb(241, 66, 104);
  border: none;
  outline: none;
  color: white;
  font-weight: 700;
  border-radius: 60px;
}

.btn0:hover{
  background: #023C5A;
}

.main {
  position: absolute;
  top: 250px;
  left: 200px;
  width: 1200px;
}

.donate{
  height: 60px;
  color: white;
  background-color: rgb(241, 66, 104);
  border-radius: 60px;
  outline: none;
  width: 200px;
  border: none;
  margin-top: 30px;
  margin-left: 50px;
}

.donate:hover{
  background-color: #023C5A;

}

h1{
  font-size: 47px;
  font-weight: 700;
  color: #023C5A;
}

h6{
  font-size: 20px;
  margin-top: 20px;
  width: 350px;
}

.body2{
  margin-top: 40px;
  background: white;
  width: 100%;
  display: flex;
  height: 570px;
}

.card{
  border: none;
}

.card-body{
  width: 80%;
  border-radius: 20px;
  margin-top: -30px;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: -40px auto 0;
}


.card-text{
  color: #023C5A;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.card-small-text{
  color: #023C5A;
  font-size: 15px;
}

.card-img-top{
  height: 260px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.service{
  font-size: 47px;
  color: #023C5A;
  font-weight: 700;
  text-align: center;
}

.about{
  font-size: 47px;
  color: #023C5A;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.body3{
  background-color: #CFF1FF;
  height: 600px;
}

.peggy{
  border-radius: 20px;
}

.tinypaw{
  font-size: 18px;
  color: #023C5A;
  padding-top: 30px;
}

.body4{
    /* background: url(images/p4.jpg); */
    background: url(images/fig-vol.png);
    width: 100%;
    display: flex;
    height: 800px;
    background-size: cover;
    background-position: top;
}

.Volunteer{
  color: white;
  background-color: rgb(241, 66, 104);
  border-radius: 60px;
  outline: none;
  width: 200px;
  border: none;
  height: 60px;
  margin-top: 100px;
  margin-left: 675px;
}

.Volunteer:hover{
  background-color: #023C5A;
}