*{
  padding: 0%;
}

body{
  background: url(images/f2.png);
  width: 100%;
  display: flex;
  height: 800px;
  background-size: cover;
  background-position: right;
}

/* Adjust image size */
.carousel-item img {
  width: 100%;
  height: auto;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent; /* Make navbar transparent */
}

/* Custom CSS for the container */
/* .container {
  position: relative;
  z-index: 1; /* Ensure the container is above the image 
} */

/* Custom CSS for the background images */
.bg1,
.bg {
  position: relative;
  overflow: hidden;
}

.nav-link{
  margin-right: 10px;
  margin-left: 10px;
  color: #023C5A;
  font: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover{
  color: rgb(241, 66, 104);
}

.search{
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 60px;
  border: 2px solid rgb(241, 66, 104);
  margin-right: -35px;
}

.btn0{
  height: 40px;
  width: 50%;
  background: rgb(241, 66, 104);
  border: none;
  outline: none;
  color: white;
  font-weight: 700;
  border-radius: 60px;
}

.main {
  position: absolute;
  top: 250px;
  left: 200px;
  width: 1200px;
}

.donate{
  height: 60px;
  color: white;
  background-color: rgb(241, 66, 104);
  border-radius: 60px;
  outline: none;
  width: 200px;
  border: none;
  margin-top: 30px;
  margin-left: 50px;
}

h1{
  font-size: 47px;
  font-weight: 700;
  color: #023C5A;
}

h6{
  font-size: 20px;
  margin-left: 60px;
  margin-top: 20px;
}
